@{
    ViewData["Title"] = "Guaxinim Treinos e Dietas";
}
<div class="main">
    <div class="banner">
        <img src="img/slide.png">
        <div class="texto">Guaxinim Treinos e Dietas</div>
    </div>

    <div class="container">
        <img src="img/oat.png">
        <div class="content">
            <h2>Gerencie seus treinos e dietas de maneira simples</h2>
            <p>Por que ter que gastar tempo escrevendo em papél toda semana o que fazer para o seu treino quando se pode guardar tudo em apenas um lugar?</p>
            <p>Além de você poder guardar os seus treinos de exercícios físicos, aqui você também pode guardar suas dietas e mostrar ambos ao mesmo tempo em um formato de diário. Tudo feito para que você não precise ficar se preocupando com planilha de personal ou nutricionista, aqui você só vai ter que escrever o texto e o nós cuidamos de como apresentar à você.</p>
            <p>Apenas cadastre-se no site e já pode começar a usar, aqui o usuário tem controle total sobre o que pode fazer, afinal de contas a pessoa que melhor conhece o seu corpo é você mesmo</p>
            <p>Não mostramos para ninguém o que você come ou treina, apenas você vai poder checar isso. Não precisa se preocupar com rede social e ficar comparando-se aos outros.</p>
            <h3 class="h-esc">Vantagens</h3>
            <ul>
                <li>Você é o dono do seu treino e dieta;</li>
                <li>Diário onde você pode concluir ou não que fez;</li>
                <li>Saber o que você fez em dietas e treinos passados;</li>
                <li>Tudo de graça para você;</li>
                <li>Código do sistema open-source (pra você que além de se importar com o corpo se importa com o que usa).</li>
            </ul>
            <h3>Projetos Futuros</h3>
            <p>E se você acha que acabou por aí, ainda não, existem alguns projetos futuros para o site, alguns deles que são: ao final de cada plano, a possibilidade de colocar informações sobre o quão o seu desempenho aumentou, o que fazer para os planos futuros e poder compartilhar com quem você quiser os planos.</p>
        </div>
    </div>

    <div class="banner">
        <a asp-controller="Infra" asp-action="Register" rel="modal:open">
            <img id="cadastro" src="img/cadastro.jpg">
            <div id="cadastro-texto" class="texto">Cadastre-se</div>
        </a>
    </div>

    <div class="container sobre">
        <div class="content">
            <h3><a name="sobre">Sobre</a></h3>
            <p>Este site foi um trabalho de conclusão de curso, para qualquer informação extra do sistema, favor verificar o repositório do GitHub.</p>
        </div>
    </div>
</div>