<div>
    <p>O campo de texto deverá seguir a formatação</p>
    <form class="frm">
        <textarea class="form-control create fit" disabled>
Domingo
[Espaço para texto]
[Podendo haver mais de uma linha para cada dia]
[O espaço a baixo deve ser uma linha em branco]

Segunda-feira
[Espaço para texto]
[Podendo haver mais de uma linha para cada dia]
[O espaço a baixo deve ser uma linha em branco]


[Se repetindo até chegar ao sábado]
</textarea>
    </form>
    <p style="margin-bottom: 1em;">Onde os dias vão de Domingo à Sábado e mesmo que não exista nada para aquele dia é necessário adicionar o dia.</p>
</div>
