<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" readonly>
Domingo
[Espaço para texto]
[Podendo haver mais de uma linha para cada dia]
[O espaço a baixo deve ser uma linha em branco]

Segunda-feira
[Espaço para texto]
[Podendo haver mais de uma linha para cada dia]
[O espaço a baixo deve ser uma linha em branco]


[Se repetindo até chegar ao sábado]
                </textarea>
                <label for="textarea1">Info</label>
                <span class="helper-text">Onde os dias vão de Domingo à Sábado e mesmo que não exista nada para aquele dia é necessário adicionar o dia.</span>
            </div>
        </div>
    </form>
</div>
