@model GTD.Models.Infra.Login

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <form asp-action="Login" asp-controller="Infra">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="card center-align mg">

                        <div class="card-content">
                            <span class="card-title">Login</span>
                            <div class="input-field">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>

                            </div>
                            <button class="btn pulse waves-effect waves-light" type="submit" name="action">
                                Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
