@model GTD.ViewModels.DietaSemanaViewModel

@{
    ViewData["Title"] = "Criar Nova Dieta";
}

<div class="main">
    <div class="indicador">
        <h2>Criando nova dieta</h2>
    </div>

    <div class="erro">
        
    </div>

    <form asp-action="Create" class="frm wide">
        <div asp-validation-summary="ModelOnly" class="erro"></div>

        <div class="linha">
            <label asp-for="Semanas"></label>
            @Html.DropDownListFor(x => Model.SemanaID, new SelectList(Model.Semanas, "Value", "Text"), htmlAttributes: new { @class = "form-control esquerda", id = "Semana" })
            @* botão pra criar semana *@
            <input type="button" name="response" value="Criar Semana" onclick="location.href='@Url.Action("AddOneWeek", "Dieta")'" class="bot bot-sec" />
            @*<a asp-action="AddOneWeek" class="bot bot-sec" id="createWeek">Criar Nova Semana</a>*@
        </div>

        <input asp-for="DietaNome" class="form-control huge" placeholder="Nome da Dieta" />
        <span asp-validation-for="DietaNome" class="text-danger"></span>

        @*<input asp-for="Duracao" class="form-control huge" placeholder="Duração" />
        <span asp-validation-for="Duracao" class="text-danger"></span>*@

        <label asp-for="DataDieta"></label>
        <input asp-for="DataDieta" class="form-control huge" placeholder="Data de Início" />
        <span asp-validation-for="DataDieta" class="text-danger"></span>

        <label class="form-check-label">
            <input class="form-check-input" asp-for="Completo" /> @Html.DisplayNameFor(model => model.Completo)
        </label>

        <p>Escreva a sua dieta seguindo o formato abaixo</p>
        <textarea asp-for="Texto" class="form-control huge create" id="textareaMd"></textarea>
        <span asp-validation-for="Texto" class="text-danger"></span>

        <p><span class="icone comentario"></span>Ajuda com o formato.</p>

        <div class="linha">
            <input type="submit" value="Salvar" class="bot" id="btnSave"  />
            <button type="button" class="bot bot-back" onClick="javascript:history.go(-1)">Voltar</button>
        </div>
    </form>

</div>

<script src="~/js/textValidator.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
