@model GTD.Models.Dieta

@{
    ViewData["Title"] = "Informações";
}

<div class="main">
    <div class="indicador">
        <h2>Dieta: @Html.DisplayFor(model => model.DietaNome)</h2>
    </div>

    <form class="frm wide">
        <div class="linha">
            @*<label asp-for="SemanaID"></label>
            <select asp-for="SemanaID" class="form-control esquerda" asp-items="ViewBag.SemanaID"></select>*@
        </div>

        <label asp-for="DietaNome"></label>
        <input asp-for="DietaNome" class="form-control huge" placeholder="Nome da Dieta" disabled />

        @*<label asp-for="Duracao"></label>
        <input asp-for="Duracao" class="form-control huge" placeholder="Duração" disabled />*@

        <label asp-for="DataDieta"></label>
        <input asp-for="DataDieta" class="form-control huge" placeholder="Data de Início" disabled />

        <label class="form-check-label">
            <input class="form-check-input" asp-for="Completo" disabled /> @Html.DisplayNameFor(model => model.Completo)
        </label>

        <p>Escreva a sua dieta em markdown.</p>
        @*<textarea asp-for="DescDieta" class="form-control huge" id="textareaMd" disabled></textarea>
        <span asp-validation-for="DescDieta" class="text-danger"></span>*@

        <p><span class="icone comentario"></span>Ajuda com markdown.</p>

        <div class="linha">
            <a asp-action="Edit" asp-route-id="@Model.DietaID" class="bot bot-sec">Editar</a>
            <button type="button" class="bot bot-back" onClick="javascript:history.go(-1)">Voltar</button>
        </div>
    </form>
</div>

<script src="~/js/textValidator.js" asp-append-version="true"></script>